:root {
	--color-primary: #333333;
	--color-secondary: #6fffe9;
	--color-tertiary: #fcfaf9;

	/* --heading-primary-font: 
    --heading-secondary-font:
    --tertiary-font:  */
}

* {
	/* Getting rid of some default css  */
	margin: 0px;
	padding: 0px;
}

.header-container {
	background-color: var(--color-tertiary);
	padding: 2rem;
	color: var(--color-primary);
	letter-spacing: .5rem;
	font-family: 'Merriweather', serif;
}

main{
    background-color:springgreen;
}

.container-fluid__main{
    background-color: deepskyblue;
}

.row{
    margin: 5rem;
    padding: 5rem;
    border: solid black;
}

.row-1{
    background-color: orangered;
    margin: -5rem 3rem 5rem 3rem !important;
}

.row-2{
    background-color: yellowgreen;
}

.row-3{
    background-color: steelblue;
}

/* .carousel-control-prev, .carousel-control-prev:active, .carousel-control-prev:hover{
    color: blue !important;
    background-color: blue !important;
}
.carousel-control-prev-icon {
	color: blue !important;
    background-color: blue !important;
}

.carousel-control-next {
	color: blue !important;
    background-color: blue !important;
}

.carousel-control-next-icon{
    color: blue !important;
    background-color: blue !important;
    z-index: 10;
}

.carousel-indicators{
    background-color: blue !important;
    color: blue !important;
}

.carousel-item img{
 width: auto;
 height: 20rem;
 max-height: 20rem;
 margin: auto; 
 display: block;
} */


