:root{
    --color-primary: #333333;
    --color-secondary: #6fffe9;
    --color-tertiary: #fcfaf9;

    /* --heading-primary-font: 
    --heading-secondary-font:
    --tertiary-font:  */
}


* { /* Getting rid of some default css  */
    margin: 0px;
    padding: 0px;
}

.header-container{
    background-color: var(--color-tertiary);
    padding: 2rem;
    color: var(--color-primary);
    letter-spacing: .5rem;
    font-family: 'Merriweather', serif;
}

.row{
    margin: 5rem 0;
    border: solid black;
    padding: 3rem;
    width: 100%;
}

.row1{
    background-color: orangered;
}

.row2{
    background-color: yellowgreen;
}

.row3{
    background-color:rebeccapurple;
}






