/* General Styling */

body{
    background-color: #FCFAF9;
    text-align: center !important;
}

/* Sections */

.dark-section{
    color: #FCFAF9;
    background-color:#333333;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
}

/* Headings */
.section-heading{
    font-size: 3rem;
    font-weight: bold;
}

/* About Styling */

.about-col{
    padding: 3% 2%;
}

.card-header{
    background-color: #48E5C2 !important;
}

.card-header img{  
    display: block;
    margin: auto;
}

.card-title{
    font-weight: bold !important;
}

.card-text{
    text-align: left;
}