:root {
	--color-primary: #333333;
	--color-secondary: #6fffe9;
	--color-secondary-darker: #5bdeca;
	--color-tertiary: #fcfaf9;

	--color-green: #00a550;
	--color-red: #e83946;

	--color-white: #fff;
}

body {
	background-color: var(--color-secondary-darker);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-container {
	background-color: var(--color-tertiary);
	height: auto;
	width: 35%;
	text-align: center;
	margin-top: 3rem;
	border: 5px solid var(--color-primary);
	padding-bottom: 1.5rem;
}

.company-title {
	font-style: italic;
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: xxx-large;
}

.input-container {
	padding: .3rem;
}

.input-container--password {
	padding: .3rem;
}

.input-container--login {
	padding: .7rem;
}

.input-container input {
	width: 50%;
	height: 9%;
	padding: 9px 0px 7px 8px;
	font-size: 16px;
	border-radius: 2px;
	background-color: rgba(239, 233, 236, 0.8);
	border: none;
	border-bottom: 3px solid transparent;
	transition: all .3s;
	border-radius: 5%;
}

.input-container input:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(var(--color-primary), .1);
	border-bottom: 3px solid var(--color-green);
}

.input-container input:focus:invalid {
	border-bottom: 3px solid var(--color-red);
}

.input-container input::-webkit-input-placeholder {
	color: var(--color-primary);
}

.input-container--login input {
	padding: .3rem;
	width: 50%;
	border: 3px solid var(--color-primary);
	border-radius: 5%;
	margin: 8px 40px;
	font-size: 16px;
	background-color: rgba(65, 105, 225, .4);
}

.input-container--login input:hover {
	cursor: pointer;
}

.login-form:valid .input-container--login input {
	background-color: rgba(65, 105, 225, 1);
}

.or-container {
	width: 50%;
	margin: 0 auto;
	margin-top: 2rem;
}

h4 {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

h4 span {
	background: #fff;
	padding: 0 10px;
}

.options {
	background-color: var(--color-tertiary);
	padding: .5rem;
}

.options > * {
	display: block;
}

.options button {
	margin: 0 auto;
	font-size: 14px;
}

.reset-password {
	text-decoration: none;
	font-size: 16px;
	margin: 20px 0px 0px;
	font-weight: bold;
	color: royalblue;
}

.reset-password:hover {
	cursor: pointer;
}

.or-container {
	width: 50%;
	margin: 0 auto;
	margin-top: 2rem;
}

.signup-container {
	background-color: var(--color-tertiary);
	border: 5px solid var(--color-primary);
	text-align: center;
	margin: 0px 0px 10px;
	padding: 10px 0px;
	margin-top: .8rem;
	margin-bottom: 5rem;
	height: auto;
	width: 35%;
}

.signup-link {
	text-decoration: none;
	font-weight: bold;
	color: royalblue;
}


#header{
	width: 100%;
}

#footer{
	width: 100%;
}

#password{
	margin-left: -8px;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

