/* body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
    
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
} */

/* p{
    color: #FCFAF9;
} */

/* form */

.main-form{
    background-color: #fcfaf9;
    border: 4px solid #333333;
    border-radius: 100% / 20%;
    padding: 90px;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.45);
    margin: 0 20%;
}

.main-form form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.form-control{
    border: 2px solid #333333 !important;
}

/* form inputs */
.form-floating-group input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn{
    border: 3px solid #333333 !important;
}
  
.no-session {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.no-session a {
    align-self: center;
}
/* sections */

.white-section{
     background-color: #5bdeca;
}


