{% extends 'main.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/account.css">

<main class="account-container">
    <h3>Profile</h3>
    <section class="profile-info info">
        <!-- <span class="username">Your Username</span> -->
        {% if session.username %}
        <span class="username">{{session.username}}</span>
        {% else %}
        <span class="username">Your Username</span>
        {% endif %}
        <div class="profile-image">
            <img src="/static/img/tab-photo.jpeg" alt="Profile Picture">
        </div>
        <form action="/account" method="post" class="account-settings">
            <div class="first-lastnames">
                <label for="firstname">First Name</label>
                <div class="firstname-input">
                    {% if firstname %}
                    <input type="text" name="firstname" placeholder={{firstname}}>
                    {% else %}
                    <input type="text" name="firstname" placeholder="First Name">
                    {% endif %}
                </div>

                <label clssname="password-label" for="lastname">Last Name</label>
                <div class="lastname-input">
                    <input type="text" name="lastname" placeholder="Last Name"">
                </div>
            </div>

            <div class="textarea-container">
                <label id="textbox-label" for="bio">Bio</label>
                <textarea class="textbox" name="bio" spellcheck="true" wrap="hard" maxlength="140"
                    placeholder="Add a bio"></textarea>
                <span id="textbox-span"><sup>*</sup>0/140 characters</span>
            </div>
            <input id="submit-input" class="btn" type="submit" value="Save">
        </form>
    </section>

    <h3>Account</h3>
    <section class="account-info info">
        <h5 class="account-h5">Your email</h5>
        <div class="user-info">
            <span class="account-info-span">temp.temp@email.com</span>
            <button class="account-info-btn btn"><a href="/changepw">Change</a></button>
        </div>

        <h5 class="account-h5">Your Password</h5>
        <div class="user-info">
            <span class="account-info-span">********</span>
            <button class="account-info-btn btn"><a href="/changepw">Change</a></button>
        </div>

        <div class="delete-account">
            <button class="btn"><a href="/deleteacc">Delete Account</a></button>
        </div>
    </section>


    <h3>Connected Services</h3>
    <div class="connected-services-container info">
        <div class="connected-services">
            <span>Google</span>
            <button class="connect-btn btn"><a class="connect" href="/">Connect</a></button>
        </div>

        <div class="connected-services">
            <span>Facebook</span>
            <button class="connect-btn btn"><a class="connect" href="/">Connect</a></button>
        </div>

        <div class="connected-services">
            <span>Instagram</span>
            <button class="connect-btn btn"><a class="connect" href="/">Connect</a></button>
        </div>


        <div class="connected-services">
            <span>Twitter</span>
            <button class="connect-btn btn"><a class="connect" href="/">Connect</a></button>
        </div>
    </div>

    </section>
</main>


{% endblock %}