{% extends "main.html" %}
{% block title %}Populus Designs - Buy{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="static/css/buy.css">
{% endblock %}

{% block content %}

<div class="row">
    {% if message and message.error %}
        <div class="mb-3">
            <form action="{{ url_for('buy')}}">
                <h2>{{ message.error }}</h2>
                <button type="submit" class="btn btn-style">Go back!</button>
            </form>
        </div>
    {% else %}
    {% for item in store_items %}
    <div class="col-12 col-md-6 col-lg-4 my-3">
        <div class="card">
            <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }} design picture">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">
                  Creator: {{ item.creator }} <br>
                  Price: ${{ item.price }} <br>
                  In Stock: {{ item.quantity }}
                </p>
                <form action="{{ url_for('add_to_cart') }}" method="POST">
                    <div class="mb-2">
                        <label for="quantity">Quantity</label>
                        <input class="me-2" type="number" name="quantity" value="1" min="1" max="{{ item.quantity }}" step="1">
                        <label for="size">Choose a size:</label>
                        <select name="size" id="size">
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                            <option value="X-Large">X-Large</option>
                        </select>
                    </div>
                    <input type="hidden" name="product_id" value="{{ item._id }}">
                    <button type="submit" class="btn btn-style">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}