{% extends "main.html" %}
{% block title %}Populus Designs - Change Email{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<div class="main-container">
    <section class="form-container">
        <h1 class="company-title">Populus Designs</h1>

        <form action="/change-email" method="post" class="login-form">

            <div class="input-container">
                <input type="text" name="username" placeholder="username" required>
            </div>


            <div class="input-container input-container--password">
                <input type="email" name="email" id="email" requiered placeholder="your.email@techexchange.in">
            </div>

            <section>
                {%if error_message %}
                <span class="error-message">{{error_message}}</span>
                {%endif%}
            </section>

            <div class="input-container--login">
                <input type="submit" value="Update Email">
            </div>
        </form>

    </section>

    <section class="signup-container">
        <div class="signup">
            <p class="signup-text">Not part of the gang? Hang with us!</p>
            <a href="/signup" class="signup-link"><span>Sign Up &rarr;</span></a>
        </div>
    </section>

    </body>

    </html>


    {% endblock%}