* { /* Getting rid of some default css  */
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
    
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    color: #FCFAF9;
}

main{
    height: 75%;
}

/* headings */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color:#fff;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* containers */

.container-fluid{
    padding: 7% 15%;
}

/* form */

.main-form{
    border: 3px solid black;
    border-radius: 100% / 20%;
    padding: 75px;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.45);
}

/* sections */

.colored-section{
    color: #fff;
    background-color:#333333;
}

.white-section{
    background-color:#FCFAF9;
}

/* title section */

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.download-btn{
    margin: 5% 3% 5% 0;
}

.title-image{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right:30%;
}

#title .container-fluid{
    padding: 2% 5%;
    text-align: left;
}

/* pricing section */

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-col{
    padding: 3% 2%;
}

#pricing{
    margin-top: 2%;
}

.card-header{
    background-color: #48E5C2;
}

/* footer section */

.footer-icon{
    margin: 20px 10px;
}

.footer-icon:hover{
    color: #48E5C2;
}

/* media queries */

@media (max-width:1028px){

    #title{
        text-align: center;
    }

    .title-image{
        transform: rotate(0);
        position: static;
    }
}